<!DOCTYPE html>
<html>

<head id="1homes">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Vinod M. Ramdin</title>
    <link rel="icon" href="./public/images/mrvLogo.png" sizes="196x196">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="public/css/reset.css" /> -->
    <link rel="stylesheet" type="text/css" media="screen" href="public/css/style.css" />
</head>


<body>
    <section>
        <header>
            <div class="container">
                <div class="row">
                    <h2 class="text-center title col-xs-6 col-sm-12 col-md-12 col-lg-12 ">Hello, I am </h2>
                </div>
                <div class="row">
                    <h1 class="text-center title col-xs-6 col-sm-12 col-md-12 col-lg-12  highlighthName">Vinod Martel
                        Ramdin.</h1>
                </div>
                <div class="row">
                    <h2 class="text-center title  col-xs-6 col-sm-12 col-md-12 col-lg-12"> I'm a full-stack web
                        developer.</h2>
                </div>
            </div>
            <div class=" col text-center">
                <button id="seeWorkBtn" type="button" class=" col-12  btn btn-outline-dark">See My Work
                </button>
            </div>
        </header>
    </section>
    <section>
        <div id='fixedTop' class="container-fluid naver ">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand">
                    <span class="highlighthName">Vinod Martel Ramdin</span>
                </a>
                <button id='nav-btn' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav"
                    aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <div class="text-center dark">Menu</div>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="myNav">

                    <ul id='navLinks' class="navbar-nav">
                        <li class="ml-3 active">
                            <a href="#1homes" style="color:white">Home</a>
                        </li>
                        <li class="ml-3">
                            <a href="#1abtsm" style="color:white">About Me</a>
                        </li>
                        <li class="ml-3">
                            <a href="#1skills" style="color:white">Skills</a>
                        </li>
                        <li class="ml-3">
                            <a href="#1projects" style="color:white">Projects</a>
                        </li>
                        <li class="ml-3 ">
                            <a href="#1contacts" style="color:white">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <section id="1abtsm">
        <h1 class="text-center sectionTitles">
            <hr />ABOUT ME
        </h1>
    </section>
    <section>
        <div class="container about">
            <div class="row about">

                <div id="test" class="col-xs-12 col-sm-12 col-md-4">
                    <h5 class="text-center mt-1 highlighthName">Passion</h5>

                    <p class="  paraG"><img class="imgWrap img-responsive" src="./public/images/cloudpng.png"> I am
                        fascinated
                        with technology because I believe in progress. People inevitably use technology to improve
                        lives
                        and help others. My childhood comprised of tinker with electronics that paved the way to
                        building
                        and selling of personal computers. This was the gateway that led me to completing my Bachelors
                        in
                        Computer Science, which facilitated me forward for a programming and web developing future. I
                        completed
                        a Full-Stack Web Developing certified cohort at the University of Minnesota, this gave me the
                        skills
                        and in combination with my passion of technology to build a better and stronger future for
                        others
                        and I. </p>
                    <h5 class="text-center mt-1 highlighthName">Creative</h5>

                    <p class="  paraG">To be creative you must think outside of the box.<img class="imgWrap1" src="./public/images/headbulbpng.png">
                        I
                        dwell in being a problem solver, which I can take the old ideas of yesterday and transform
                        those
                        ideas to the new ones of the future. Being creative in the technological world is being new and
                        different
                        from the norm. Web developing allows me to digitize my ideas in a form that can be manipulated
                        from
                        my own creativity. I envision myself being able to apply my skills with my creativity to
                        transform
                        any problems I face to solutions I create.</p>

                    <h5 class="  text-center mt-1 highlighthName">Fun</h5>
                    <p class="paraG"><img class="imgWrap2 " src="./public/images/controllerpng.png">No matter what it
                        boils
                        down to having fun is a necessity. I love playing games and understanding the logic behind it
                        shows
                        the pathways and possibilities of what might be a reality someday. I am a true sporst fan,
                        because
                        competition drives the best out of anyone, which I feel is my motivation to ensure that I
                        demonstrate
                        the best of my abilities to accomplish my goals.</p>
                </div>

                <div class="col-4">
                    <div id="test1">

                        <img id="myImg" src="./public/images/meTiejpg2.jpg" class="img-responsive" style="width:100%;"
                            alt="Me"><br>
                        <div id="myModal" class="modal">
                            <!-- The Close Button -->

                            <span class="close">&times;</span>
                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img00">
                            <!-- Modal Caption (Image Text) -->
                            <div id="caption"></div>
                        </div>
                    </div>
                    <div id="test2" class="picPadding ">
                        <img id="myImg1" src="./public/images/vikes.jpg" class="img-responsive" style="width:100%" alt="Vikings">
                        <div id="myModal1" class="modal">
                            <!-- The Close Button -->
                            <span class="close One">&times;</span>
                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">
                            <!-- Modal Caption (Image Text) -->
                            <div id="caption1"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div id="test3">
                        <img id="myImg2" src="./public/images/gradjpg3.JPG" class="img-responsive" style="width:100%"
                            alt="Graudation">
                        <div id="myModal2" class="modal">
                            <!-- The Close Button -->
                            <span class="close Two">&times;</span>
                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img02">
                            <!-- Modal Caption (Image Text) -->
                            <div id="caption2"> </div>
                        </div>
                    </div>
                    <div id="test4">
                        <img id="myImg3" src="./public/images/rock.JPG" class="img-responsive" style="width:100%" alt="Minnehaha Falls">
                        <div id="myModal3" class="modal">
                            <!-- The Close Button -->
                            <span class="close Three">&times;</span>
                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img03">
                            <!-- Modal Caption (Image Text) -->
                            <div id="caption3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="1skills">
        <br><br><br>
        <h1 class="text-center sectionTitles">
            <hr style="height:3px"> SKILLS
        </h1>
        <div class="container">

            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                    <p class="text-center">HTML5/Css3</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar1 text-center">80%</div>

                <div class="col-xs-1 col-sm-1 col-md-3 col-lg-2">
                    <p class="text-center">Node.js</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar2 text-center">75%</div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                    <p class="text-center">Javascript</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center bar bar3">
                    <p>85%</p>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                    <p class="text-center">Express</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar4 text-center">70%</div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                    <p class="text-center">Bootstrap</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar5 text-center">
                    <p>80%</p>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                    <p class="text-center">MYSQL</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar6 text-center">60%</div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                    <p class="text-center">Mongo</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar7 text-center">
                    <p>60%</p>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                    <p class="text-center">jQuery</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar8 text-center">85%</div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-3 col-lg-2">
                    <p class="text-center">Mongoose</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar9 text-center">
                    <p>55%</p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-3 col-lg-2">
                    <p class="text-center">Sequilize</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar10 text-center">60%</div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-3 col-lg-2">
                    <p class="text-center">React</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar11 text-center">
                    <p>65%</p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-3 col-lg-2">
                    <p class="text-center">Handle Bars</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bar bar12 text-center">55%</div>
            </div>
    </section>
    <h1 id="1projects" class="text-center sectionTitles">
        PROJECTS
    </h1>
    <section>
        <div class="container-fluid">
            <div class="btn-group btn-group-toggle text-center col-xs-2 col-sm-12 col-md-12 col-lg-12" data-toggle="buttons"
                type="radio">
                <button id='prjbtn1' class="btn btn-primary btn-lg active col-xs-2 col-sm-4 col-md-12 col-lg-12"
                    data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                    aria-controls="multiCollapseExample1">FRONT-END
                    PROJECTS
                </button>
                <button id='prjbtn2' class="btn btn-primary btn-lg active  col-xs-2 col-sm-4 col-md-4 col-lg-4" type="button"
                    data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                    BACK-END PROJECTS
                </button>
                <button id='prjbtn3' class="btn btn-primary btn-lg active  col-xs-2 col-sm-4 col-md-12 col-lg-12" type="button"
                    data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">
                    ALL PROJECTS
                </button>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-4 col-md-6 col-lg-6 pdfix">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">

                        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-12 mb-2 card card-body fEndBC">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <img class="prjImg" src="./public/images/starwarsTrivia.jpeg">
                                <p class="prjPara">Star Wars
                                    Trivia
                                </p>
                                <button class="  col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4btn btn-outline-danger"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Github</a></button>
                                <button class="  col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-primary"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Project</a></button>
                            </div>
                        </div>

                        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-12  mb-2 fEndBC card card-body ">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <img class="prjImg" src="./public/images/anightout.jpg">
                                <p class="prjPara">A Night Out
                                </p>
                                <button class="  col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-danger"><a
                                        class="txtDec" style="text-decoration: none;" href="https://github.com/martttizzle/A-Night-Out">Github</a></button>
                                <button class="  col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-primary"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/A-Night-Out/">Project</a></button>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-12  mb-2 fEndBC card card-body ">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <img class="prjImg" src="./public/images/planets.jpg">
                                <p class="prjPara">Hangman Planet
                                    Edition
                                </p>
                                <button class="  col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4btn btn-outline-danger"><a
                                        class="txtDec" style="text-decoration: none;" href="https://github.com/martttizzle/Hangman-Game">Github</a></button>
                                <button class="  col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-primary"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/Hangman-Game/">Project</a></button>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-12  mb-2 fEndBC card card-body ">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <img class="prjImg" src="./public/images/starwarsTrivia.jpeg">
                                <p class="prjPara">Star Wars
                                    Trivia
                                </p>
                                <button class="  col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-danger"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Github</a></button>
                                <button class=" col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-primary"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Project</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2 col-sm-4 col-md-6 col-lg-6 pdfix">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-12  mb-2 card card-body bEndBC">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <img class="prjImg" src="./public/images/planets.jpg">
                                <p class="prjPara">Planets Hangman</p>
                                <button class=" col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-danger"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Github</a></button>
                                <button class=" col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-primary"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Project</a></button>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-12  mb-2 card card-body bEndBC">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <img class="prjImg" src="./public/images/planets.jpg">
                                <p class="prjPara">Planets Hangman</p>
                                <button class=" col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-danger"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Github</a></button>
                                <button class=" col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-primary"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Project</a></button>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-12  mb-2 card card-body bEndBC">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <img class="prjImg" src="./public/images/planets.jpg">
                                <p class="prjPara">Planets Hangman</p>
                                <button class=" col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-danger"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Github</a></button>
                                <button class=" col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-primary"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Project</a></button>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-12  mb-2 card card-body bEndBC">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <img class="prjImg" src="./public/images/planets.jpg">
                                <p class="prjPara">Planets Hangman</p>
                                <button class=" col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-danger"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Github</a></button>
                                <button class=" col-xs-2 col-sm-12 col-md-8 col-lg-6 col-xl-4 btn btn-outline-primary"><a
                                        class="txtDec" style="text-decoration: none;" href="https://martttizzle.github.io/TriviaGame/">Project</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h1 class="text-center sectionTitles">
            <hr>CONTACT
        </h1>
    </section>
    <section>
        <h6 id="1contacts" class="text-center pb-3">Have a question or want to work together?</h6>
        <div class="container">
            <form method='POST' action='send' class="needs-validation" novalidate> 
                <div class="form-row">
                  <div class="col-sm-6 mb-3">
                    <label for="validationTooltip01">First name:</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="First name" name='First_Name' required>
                     {{msg}}
                    <div class="invalid-tooltip">
                        Please enter First Name!
                      </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationTooltip02">Last name:</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" name='Last_Name' required>
                    
                    <div class="invalid-tooltip">
                      Please enter Last Name!
                    </div>
                  </div>

                  <div class="col-md-8 mb-3">
                    <label for="validationTooltipEmail">Email:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="validationTooltipEmail" placeholder="example@domain.com" aria-describedby="validationTooltipUsernamePrepend" name='Email' required>
                      <div class="invalid-tooltip">
                        Please enter a valid email address!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-8 mb-3">
                    <label for="validationTooltipMsg">Message:</label>
                    <textarea class="form-control" rows="4" id="validationTooltipMsg"placeholder="message. . ." name='Message' required></textarea>
                    <div class="invalid-tooltip">
                            Please provide a sentence! 
                    </div>
                 </div>
                </div> 
                <button  class="col-12 btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
     </div>

    </section>
    <section>
        <footer>
            <div class="container">

                <div class="row">
                    <h4 class=" pt-3 col text-center"> Follow Me:
                        <a href="https://www.twitter.com/" target="_blank"> <img class="m-2 " src="./public/images/tweet.png"
                                alt="twitter" /></a>
                        <a href="https://www.googleplus.com/" target="_blank"> <img class="m-2" src="./public/images/googleplus.png"
                                alt="googleplus" /></a>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="col text-center" style="color:white" href="#1homes"> Home</a>
                        <a class="col text-center" style="color:white" href="#1abtsm"> About Me </a>
                        <a class="col text-center" style="color:white" href="#1skills">Skills</a>
                        <a class="col text-center" style="color:white" href="#1projects">Projects</a>
                        <a class="col text-center" style="color:white" href="#1contacts">Contact</a>
                    </div>
                </div>
                <p class="col text-center" style="color:white">VINOD MARTEL RAMDIN Copyright &copy; 2018</p>
        </footer>
    </section>
    <script src="public/javascript/script.js"></script>
    <script src="public/javascript/navbar.js"></script>
</body>

</html>