
* {
    box-sizing: border-box;
    transition: all ease-in-out  550ms;
}

#body {
    margin: 0;
    font-family: "Muli", sans-serif;
    text-align: center;
    background-image: url("../images/codeBackground.jpeg");
    background-size:cover;
    background-attachment: fixed;
  
}
img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 80em;
}

.clearfix::after, 
section::after, 
footer::after {
 content: "";
 display: block;
 clear: both;
}
/*column system*/
 
.column-1 {
    width: 100%;
    float: center;
}
/* Typography */
h1 {
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 1.5;
}

p:last-of-type{
    margin-bottom: 0;

}
.title {
    font-size: 2.4rem;
    margin-bottom: 5.5em;
    font-weight: 900;
    margin-top: 1em;
}
.title span {
    font-weight: 600;
    display: block;
    font-size: 1.0em;
    text-shadow: rgb(0, 0, 0) 4px 5px 4px; 
    color: #00b3ff;
    font-weight: 800;
}
.title-cta {
    margin: -1.5em;
}
.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 60rem) {

    p {
        font-size: 1.3rem;
        line-height: 1.6;
    }
    .logo {
        float: left;
    }
    nav {
        float: right;
    }
    .title {
        font-size: 3.1rem;
    }
}
/* button */
.button {
    display: inline-block;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

@media(min-width: 60rem) {
    .button {
        font-size: 1.5rem;
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 700;
}

  .button-accent {
    color: #0798ff;
    border-color: #0798ff;

}

.button-accent:hover,
.button-accent:focus {
    background: #00b3ff;
    color:  #ffffff;
}

.button-dark{
    color: #000000;
    border-color: black;

}

.button-dark:hover,
.button-dark:focus {
    background: #00b3ff;
    color:  #ffffff;
}
 /*Parallax*/
 .parallax--bg,
 .parallax--box {

     transition: initial;
 }
 
@media(min-width: 60rem) {
    .button {
        font-size: 1.5rem;
    }
}
/* header */

header {
    position: absolute;
       margin-top: 1em;
       left:0;
       right:0;
       margin: 1em;

}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display:inline-block;
    margin: 1em; 
   
}
nav a {
    font-weight: 900; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: #FFF;
}
nav a:hover,
nav a:focus {
    color: #DDD;
} 

/* Home-Hero */
.home-hero {
    background-image: url(../images/deskBackground.png);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    /* background-attachment: fixed; */
}

@media (min-width: 60rem) {
    .home-hero{
        height: 100vh;
        padding-top: 5vh;
    }
}

.home-about-textbox {
background-color: #a7c3d6c5;
padding: 3em;
width: 100vw;
margin-left: -2.5%;
outline: 2px solid #00b3ff;
outline-offset: -2.5em;
color: #FFF;
position: relative;

 }
 .home-about-textbox h1 {
     color: #00b3ffb4;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     top: .70em;
     /* background:#a7c3d6; */
     padding: 0 .145em;
     padding-bottom: 20em;
     
 }

 @media (min-width: 25rem) {
h1 {
    font-size: 2rem;
}
.home-about-textbox h1 {
    top: .20em;
    padding: 0 .325em;
 }
}

 @media (min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
        color: white;
        /* background-color: black; */
    }
     .home-about {
        background-image: url(../images/minneapolisGray.jpg);
        background-repeat: no-repeat;
        padding-bottom: 10em;
        background-size: cover;
        background-attachment: fixed;
 
    }
    .home-about-textbox {
        width: 45%;
        padding: 7em;
        outline-offset: -3.75em;
        margin-left: -2.5%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0,0,0,0.5);
     }
    .home-about-textbox h1 {
        top: .3em;
          
    }
}

/*Portfolio */
.portfolio {
    margin: 3em 0 0;
}

.port-item{
    margin: 0;
    position: relative;
}

.port-item img {
  display: block;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    right: 0em;
    left:  0em;
    color: #FFF;
    background: rgba(0,0,0,.60);
    padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;
}

@media (min-width:36rem) {

    .port-item {
        overflow: hidden;
        width: 50%;
        float: left;
    }
} 

@media (min-width: 60rem) {

    .port-item {
        width: 33.33333334%;
        overflow: hidden;
    }
} 

.port-desc {

    transform: translateY(150%)
}

.port-item:hover .port-desc {

   transform: translateY(0%)
}

/*Skills*/
.skills {
    background-image: url(../images/skillsBackground.jpeg);
    background-repeat: no-repeat;
        padding-bottom: 10em;
        background-size: cover;
        background-attachment: fixed;
}

.skills ul {

    display:inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills li {
    display: block;
    margin: 1em; 
    color: rgb(255, 255, 255);
    font-size: .9em;
    font-weight: 900;
   
}
.left {
    float: left;
}
.center {
    float:center;
}

.right {
    float:right;
}


/*Call to action CTA*/

.cta {
    background-color:#ff0707a4; 
    padding: 3em 0;
    color: black; 
}

/*Footer*/

footer {
    text-align: center;
    background: #a7c3d6;
    color: #0798ff;
}