
 
.Hang {
    position: absolute;
    top: 90px;
    left: 35px;
    width: 20%;
    height: 20%;
}
.Trivia {
    
    position: absolute;
    top: 250px;
    left: 35px; 
    width: 15%;
    height: 20%;
}

.Rutgers {
    position: absolute;
    top: 250px;
    left: 260px;
    width: 20%;
    height: 20%;  
}


.Hang h4 {

    color: #ffffff;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: #4aaaa5;
    max-width: 100%;
    padding: 10px 63px 10px 63px;
    font-size: 15px;
    text-align:center;
}
 .Trivia h4 {
    color: #ffffff;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: #4aaaa5;
    max-width: 100%;
    padding: 10px 47px 10px 64px;
    font-size: 15px;
    text-align:center;
    white-space: nowrap;
}
 .Rutgers h4 {
    color: #ffffff;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: #4aaaa5;
    max-width: 100%;
    padding: 10px 30px 10px 27.2px;
    font-size: 15px;
    text-align:center;
    white-space: nowrap;
}

