
* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    margin: 0px;
}

/****** HEADER *****/
header {
    background-color: #252934;
    height: 100vh;
    padding: 12.5%; 
}
 
/* The Name plate & message */
.title{
    font-family: "Raleway";
    color: #fff;
    font-size: 50px;
    line-height: 60px;
}
/* Highlight name */
.highlighthName{
    font-weight: bold;
    color: #E31B6D;
}
/*Button*/
#seeWorkBtn {
    color: white;
    border: 2px solid white;
    text-align:center;   
    font-size: 50px; 
    border-radius: 30%;
    margin-top: 2.5%;
}

#seeWorkBtn:hover {
    background-color: #E31B6D; 
}

/*Nav Shrink*/
nav{ 
    position: fixed;
    width: 100%;
    height: 65px;  
    background-color: rgb(255, 255, 255);
}

footer{
     
    text-align: center;
    background-color: #E31B6D; 
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 65px;


}





/*Media Query Header max-570px*/

@media only screen and (max-width: 600px) { 
    .title{
    text-align: center;
    font-family: "Raleway";
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    float: none;
    }

    .highlighthName{
        font-weight: bold;
        color: #E31B6D;
    }

    #seeWorkBtn {
         
        color: white;
        border: 1.5px solid white;
        padding: 5px;
        font-size: 18px;
        border-radius: 30%;
    }
    
    nav {
    position: fixed;
    width: 100%;
    height: 65px;
    padding: 5% ;
    background-color: black;
    }
}


/* > 374 max pixels */
@media only screen and (max-width: 374px) {

        .title {
        /* text-align: center; */
        font-family: "Raleway";
        color: rgb(255, 247, 0);
        font-size: 12px;
        line-height: 15px;
        }

        .highlighthName{
            font-weight: bold;
            color: #E31B6D;
        } 

        #seeWorkBtn {
            display:inline;
            color: white;
            border: 1.5px solid white;
            border-radius: 30%;
            font-size: 12px; 
        }
        nav {
            position: fixed;
            width: 100%;
            height: 65px;
            padding: 5% ;
            background-color: black;
            }

 }
 
