
* {
    box-sizing: border-box;
     
}

#body {
    font-family: 'Raleway';
      
    margin: 0px;
}
/* HEADER */
.flex{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#particles-js{
    background-color: rgb(37,41,52);
    background-size: cover;
}
/* Highlight name */

.highlighthName{
    font-weight: bold;
    color: #E31B6D;
}
.title{
    
    font-family: "Raleway";
    color: #fff;
}