
 

.pp {
    margin-bottom: 5px;
        
}


.gitH {
    
    /*border: solid 2px black;*/
    background-color: #000000;
}

.lnkI {
    border: solid 2px #007bb5;
    background-color: #007bb5;
}

.skof {
    border: solid 2px #ffa500;
    background-color: #ffa500;
}

button {
    background-color: #4aaaa5;
    border: solid 2px #4aaaa5;
    color:#ffffff;
    padding: 10px 25px;
}